<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>APP_IP</name>
          <defaultValue>localhost</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>DOCKER_SWARM?</name>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>NODE_ENV</name>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>production</string>
              <string>development</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>SESSION_SECRET</name>
          <defaultValue>{AQAAABAAAAAQSS7RY8ReevL6bIcj1/bvdKCreNdm4EQdo/2IRkb+3M4=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>USERNAME</name>
          <defaultValue>user</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>PASSWORD</name>
          <defaultValue>{AQAAABAAAAAQPyEbFwBRKSs/VWI/rB711qEepqIedNGAVPw4FbnPQZs=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MONGO_INITDB_ROOT_USERNAME</name>
          <defaultValue>root</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>MONGO_INITDB_ROOT_PASSWORD</name>
          <defaultValue>{AQAAABAAAAAQ0E2Y5tsWAznAJ4gksW151Bk//uc+j5cUf6TtIWjx7FQ=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@5.2.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:$GITREPO/cicd.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/main</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.gradle.Gradle plugin="gradle@2.10">
      <switches>-DAPP_IP=${APP_IP}
-PNODE_ENV=${NODE_ENV}
-PMONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
-PMONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
-DSESSION_SECRET=${SESSION_SECRET}
-DUSERNAME=${USERNAME}
-DPASSWORD=${PASSWORD}
-PMONGO_USER=mongo
-PMONGO_PASSWORD=password</switches>
      <tasks>nodeChecker makeHttpGetRequest makeHttpSignUpRequest makeHttpLoginRequest </tasks>
      <rootBuildScriptDir></rootBuildScriptDir>
      <buildFile></buildFile>
      <gradleName>(Default)</gradleName>
      <useWrapper>true</useWrapper>
      <makeExecutable>false</makeExecutable>
      <useWorkspaceAsHome>false</useWorkspaceAsHome>
      <wrapperLocation></wrapperLocation>
      <passAllAsSystemProperties>false</passAllAsSystemProperties>
      <projectProperties></projectProperties>
      <passAllAsProjectProperties>false</passAllAsProjectProperties>
    </hudson.plugins.gradle.Gradle>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>